html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
a img {
	border: none;
}
/* END RESET*/

/* STYLES */
html {
    background: #303740;
    color: white;
    
}

.header {
    height: 20vh;
    width: 100%;
    position: relative;
    opacity: 0;
    animation: from-top 3s ease 1s forwards;
}
@keyframes from-top{
    0%{
        opacity: 0;
        transform: translate(0,-10%);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
.logo {
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 6.5vh;
    padding-left: 5vw;
    position: relative;
    text-align: center;
    width: 10vh;
}

.logo img {
    width: 5vh;
}

.link {
    font-size: 3vh;
    color: white;
}

.social-list {
    float: right;
    padding: 8vh 6vw 0 0
}

.social-list > li {
    display: inline-block;
    margin-left: 1em;

}

.intro {
    
    height: 13vh;
    width: 100%;
    position: relative;
    text-align: center;

}

.name {
    font-family: apple symbols;
    font-size: 2vh;
    margin-bottom: 0.5vh;
    
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation : fade-in 3s;
}
@keyframes typing {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        width: 10em;
        opacity: 1;
    }
}

.title {
    font-family: menlo;
    font-size: 1vh;
    color: #DDDDDD;
    width: 10em;
    height: 2em;
    opacity: 0;
    
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation : typing 3s ease 4s forwards;
}
.contact{
    float: left;
    width: 50%;
    text-align: center;
    height: 3vh;
    transform: translate(0,400%)
}
.contact a{
    font-style: normal;
    font-family: helvetica neue;
    font-size: 2vh;
    font-weight: 500;
    color: #E0E0E0;
    text-decoration: none;
}
.contact p{
        animation: fade-in 3s;
}
.contact:hover a p.new-label span{
    display: none;
}
.contact:hover a p.new-label:after{
    content: 'jsobiecki01@gmail.com';
}
.line{
    float: left;
    background-color: white;
    height: 30vh;
    width: 1px;
    animation: stretch 3s;
}
@keyframes stretch{
    0%{
        height: 0;
    }
    100%{
        height: 30vh
    }
}
.bio {
    float: right;
    width: 49%;
    text-align: center;
    height: 3vh;
    transform: translate(-10%,400%);
}
.bio p{
    font-family: helvetica neue;
    font-size: 2vh;
    font-weight: 500;
    color: #E0E0E0;
    animation: fade-in 3s;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.bio-text{
    position: fixed;
    background-color: cadetblue;
    height: 80vh;
    width: 24em;
    top: 10vh;
    right: 2vw;
    
    
    opacity: 0;
}
